; Configuration file

[general]
site_name = ""
base_url = "/"
app_domain = ""
environment= "development"

[security]
sync_key = "alsjfjfke399jajfk23jieiur83882009qu81ujajdcn"
session_key = "nvjfjei8kejeiwiwi747sduu3uq111qjwhhe"

[database-mysql]
db.mysql.host = "localhost"
db.mysql.port = "3306"
db.mysql.user = "root"
db.mysql.pass = ""
db.mysql.name = "database-name"

[mail]
mail.debug      = "0"
mail.hostname   = "mail.test.com"
mail.port       = "587"
mail.username   = "test@test.com"
mail.password   = "MailPassword"

[asana]
asana.url_base            = "https://app.asana.com/api/1.0/"
asana.url_authorize       = "https://app.asana.com/-/oauth_authorize"
asana.url_token           = "https://app.asana.com/-/oauth_token"
asana.client_id           = ""
asana.client_secret       = ""
asana.redirect_uri        = ""
asana.workspaces_gid      = ""
asana.webhooks_target_url = ""
asana.data_since          = "2017-01-01 00:00:00"
asana.api_request_delay   = "1000"
